*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    color: #ffffff;
}

section{
    width: 70%;
    margin: 0 auto;
    
}
article{
    padding: 15px 0 15px 0;
    border-bottom: 10px dotted rgb(13, 151, 105);
}
body{
    
    background-color: #161616;
    background-image: linear-gradient(270deg, #161616 0%, #7e19b7 19%, #693bc5 39%, #2c53a2 60%, #3430a2 80%, #161616 100%);
    justify-content: center;
}

h1{
    text-shadow: 1px 2px 2px black;
    text-align: center;
}

div.Galeria{
    margin:  15px 20px;
    box-shadow: 0 4px 8px 0 rgb(71, 71, 71), 0 6px 20px 0 rgba(0,0,0,0.19); 
    float: left;
    width: 300px;
    
}
div.Galeria img{
    width: 100%;
    height: auto;
}
div.Galeria:hover{
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}
div.pie{
    text-align: center;
    text-shadow: 2px 2px 5px;
    padding: 10px;
}
a, li{
    font-family: 'Bauhaus 93';
    
    
}
header{
    background-color: #121212;
    display: flex;
    justify-content:
     space-between;
    align-items: center;
    padding: 0.5rem 2rem;

}
.nav-menu ul{
   display: flex;
   align-items: center;
}
.nav-menu li{
    margin-right: 1.5rem;
}
.nav-menu a:hover{
    color: #00ac60;

}
.nav-menu li:last-child{
    background-color:
     #00ac60;
     border: 0.75px solid
    #00ac60;
    padding: 1.25rem 
    0.75rem;
    border-radius: 0.2rem;
    
}
.nav-menu li:last-child:hover{
    background:
    transparent;
    border: 1.5px solid
    #00ac60
}

footer{
    position: end;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
    color: white;
    justify-content: space-around;
    
    
    
}
.copyright-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255,255, 0.3);
}

.copyright{
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
       
}

.footer-container{
    height: fit-content;
    width: 100%;
    padding: 3rem 5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer-content-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

footer .website-logo{
    margin-bottom: 1.2rem;
    font-size: calc(1vw + 20px);
}
.menu-item-footer:hover{
    opacity: 1;
}
.menu-title{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 2.1rem;
}

.social-container{
    
    width: 100%;
    font-size: 45px;
    font-weight: 400;
   text-transform: lowercase;
    margin-bottom: 2.1rem;
    text-align: center;
    display: flex;
    align-items: center;  
}
.social-container a:hover{
    transform: scale(1.2);
    transition: all .3s ease-in-out;
}
.f1{
    width: 300px;
}
